In [2]:
import numpy

In [3]:
xx = numpy.array([6, 7, 8, 9, 10, 11, 12, 13, 14])

In [4]:
import itertools
allPermutations = itertools.permutations(xx, 2)
Sum1Permutations = [x for x in allPermutations if sum(x) == 14]

In [ ]:
Sum1Permutations

[(6, 8), (8, 6)]

In [5]:
import pandas as pd

In [7]:
data = pd.read_csv('logs.csv', names = ['mail', 'tel'])
data.head()

                          mail           tel
0  user_8925@contest.yandex.ru  8.801111e+11
1  user_9425@contest.yandex.ru  8.801111e+11
2  user_8635@contest.yandex.ru  8.801111e+11
3  user_4320@contest.yandex.ru  8.801111e+11
4  user_4316@contest.yandex.ru  8.801111e+11

In [8]:
data['tel'] = data['tel'].apply(str)
data.head()

                          mail             tel
0  user_8925@contest.yandex.ru  880111119276.0
1  user_9425@contest.yandex.ru  880111116374.0
2  user_8635@contest.yandex.ru  880111110159.0
3  user_4320@contest.yandex.ru  880111114862.0
4  user_4316@contest.yandex.ru  880111115910.0

In [12]:
users_data = dict()

mails = data.mail
tels = data.tel
counter = 0
for i in range(data.shape[0]):
  if (mails[i] in users_data) & (tels[i] in users_data):
    if users_data[mails[i]] != users_data[tels[i]]:
      min_val = min([users_data[mails[i]], users_data[tels[i]]])
      max_val = max([users_data[mails[i]], users_data[tels[i]]])
      for (key, value) in users_data.items():
        if value == max_val:
          users_data[key] = min_val
  elif (mails[i] in users_data):
    if (tels[i] not in users_data):
      users_data[tels[i]] = users_data[mails[i]]
  elif (tels[i] in users_data):
    if (mails[i] not in users_data):
      users_data[mails[i]] = users_data[tels[i]]
  elif (mails[i] not in users_data) & (tels[i] not in users_data):
    counter += 1
    users_data[mails[i]] = counter
    users_data[tels[i]] = counter

In [13]:
len(users_data)

8209

In [14]:
users_final = pd.DataFrame.from_dict(users_data, orient='index', columns = ['key'])
users_final.head()

                             key
user_8925@contest.yandex.ru    1
880111119276.0                 1
user_9425@contest.yandex.ru    2
880111116374.0                 2
user_8635@contest.yandex.ru    3

In [15]:
users_final.shape

(8209, 1)

In [16]:
len(users_final.key.unique())

2128

In [17]:
import csv

a_file = open("sample.csv", "w")
writer = csv.writer(a_file)
for key, value in users_data.items():
    writer.writerow([key, value])

a_file.close()